.card {
  font-family: 'Trebushet MS', sans-serif;
  margin-bottom: 25px;
  .card__box-overlay-disabled {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    cursor: default;
  }
  .card__box {
    position: relative;
    color: black;
    width: 320px;
    height: 480px;
    overflow: hidden;
    cursor: pointer;
    .card__bg-image {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      transform: scale(1.17) translate(0px, 55px);
    }
    .card__content {
      width: calc(100% - 8px);
      height: calc(100% - 8px);
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      margin: 4px;
      border-radius: 8px;
      .card__tagline {
        font-size: 16px;
        font-weight: 500;
        color: #666666;
        line-height: 19px;
      }
      .card__tagline_selected {
        color: #D91667;
      }
      .card__info {
        margin-left: 47px;
        margin-top: 21px;
        font-size: 14px;
        line-height: 16px;
      }
      .card__product-name {
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: 1px;
      }
      .card__flavour {
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0.5px;
      }
      .card__additional {
        color: #666666;
        font-size: 14px;
        line-height: 16px;
        margin-top: 15px;
      }
      .card__promoPortions {
        span {font-weight: 700;}
      }
      .card__promoGifts {
        span {font-weight: 700;}
      }
      .card__weight-info {
        position: absolute;
        right: 12px;
        bottom: 12px;
        border-radius: 40px;
        text-align: center;
        height: 80px;
        width: 80px;
        color: #f2f2f2;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        z-index: 1;
        background: #1698D9;
        .card__weight-info-count {
          font-size: 42px;
          line-height: 36px;
        }
      }
      .card__weight-info_selected {
        background: #D91667;
      }
      .card__weight-info_disabled {
        background: #b3b3b3;
      }
    }
    .card__text_disabled {
      color: #b3b3b3;
    }
  }
  .card__additional-text {
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    margin-top: 14px;
    .card__optional-select {
      color: #1698D9;
      font-weight: bold;
      text-decoration: underline;
      text-decoration-style: dashed;
      cursor: pointer;
    }
    .card__addtioanl-text_disabled {
      color: #FFFF66;
    }
  }
}

