@font-face {
  font-family: 'Exo 2.0';
  src: local('Exo 2.0'), url(./fonts/Exo2.0-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Trebushet MS';
  src: local('Trebushet MS'), url(./fonts/trebushetms.ttf) format('truetype');
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Exo 2.0', sans-serif;
  font-size: 14px;
  @media (min-width:1025px) {
    height: 100vh;
    font-size: 18px;
  }
}

.products-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    /* IE10+ specific styles go here */  
    justify-content: space-around;
  }
  width: 100%;
  flex-wrap: wrap;
}

.main-title {
  font-size: 34px;
  line-height: 44px;
  letter-spacing: -1px;
}

