@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  height: 100vh;
}

body {
  background-color: rgb(21, 32, 43);
  color: rgb(255, 255, 255);
  background: url('./img/Pattern2x.png') no-repeat center center fixed;
  background-size: cover;
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  &:after {
    content: '';
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
}

body > div {
  flex: 1;
}